#education {
    background: linear-gradient(to bottom, transparent 10%, #0759a1 100%);
}

#education .title {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
}

#education .title hr {
    width: 35%;
    height: 0;
}

#education .hyf {
    padding-left: 3em;
    width: 50%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#education .school {
    width: 85%;
}

#education .university {
    display: flex;
    justify-content: flex-end;
}

#education .fu {
    width: 50%;
    padding: 3em 0.5em 0 0;
    color: white;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#education .fu .school {
    padding-right: 3em;
}

#education .year {
    text-align: center;
}

@media (max-width: 870px) {
    #education .hyf {
        width: 90%;
        justify-content: center;
        padding: 0 20px 0 30px;
    }

    #education .fu {
        flex-direction: row-reverse;
        width: 90%;
        justify-content: center;
        text-align: left;
        padding: 0 20px 0 30px;
    }

    #education .university {
        justify-content: flex-start;
    }

    #education .fu .school {
        padding-right: 0;
    }
}

@media (max-width: 500px) {
    #education .hyf {
        padding: 0 0 0 30px;
    }
}