#certificates {
    background: linear-gradient(to bottom, transparent 5%, #0759a1 60%);
    padding-bottom: 3em;
}

#certificates .title {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
}

#certificates .title hr {
    width: 35%;
    height: 0;
}

#certificates .certificate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1em;
}

#certificates .certificate img {
    width: 3em;
    height: 3em;
    padding-right: 0.3em;
}

#certificates .cert-part {
    display: flex;
    justify-content: space-between;
    padding: 0 4em;
}

#certificates .cert-part .cert-list {
    width: 50%;
}

#certificates .cert-list li {
    padding: 3em 0;
}

#certificates .cert-name {
    display: flex;
}

#certificates .cert-name a {
    color: white;
    text-decoration: none;
}

#certificates .cert-part .cert-img {
    width: 50%;
}

#certificates .certificate i {
    color: white;
    font-size: 2em;
    padding-right: 2em;
}

@media (max-width: 1450px) {
    #certificates .cert-list li {
        padding: 2em 0;
    }
}

@media (max-width: 1200px) {
    #certificates .cert-list li {
        padding: 1em 0;
    }

    #certificates .cert-part {
        padding: 0 1em;
    }

    #certificates .certificate i {
        padding-right: 0;
    }
}

@media (max-width: 1000px) {
    #certificates .cert-list li {
        padding: 0;
        font-size: 1em;
    }

    #certificates .cert-part .cert-img {
        width: 40%;
    }

    #certificates .cert-list {
        padding: 0;
    }
}

@media (max-width: 800px) {
    #certificates .cert-part .cert-list {
        width: 60%;
    }
}

@media (max-width: 650px) {
    #certificates .cert-part .cert-img {
        display: none;
    }

    #certificates .certificate i {
        display: none;
    }

    #certificates .cert-list li {
        font-size: 1.3em;
    }

    #certificates .cert-part .cert-list {
        width: 100%;
    }
}

@media (max-width: 500px) {
    #certificates .cert-list li {
        font-size: 1em;
    }
}